*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*::before,
*:after{
    box-sizing: border-box;
}

:root {
    --font-text: 'Bad Script', cursive;
    --font-title: 'Lobster', cursive;
    --color-bg: #F8B229;
    --color-text: #BB2528;
}

html{
    width: 100%;
    height: 100%;
    font-size: 10px;
}

body{
    width: 100%;
    min-height: 100%;
    color: var(--color-text);
    background-color: var(--color-bg);
    background-image: url(../images/bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    font-family: var(--font-text);
}

h1, h2, h3, h4, h5{
    font-weight: normal;
    font-family: var(--font-title);
}


.wrapper{
    max-width: 960px;
    margin: auto;
    padding: 20px; 

    display: flex;
    flex-direction: row;
    height: 100vh;
    
}

.wrapper > .card{
    align-self: center;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
    max-width: 100%;
}

.card{
    text-align: center;
    font-size: 1rem;

    padding: 20px;
    background-color: rgba(242, 242, 242, 0.8);
    border-radius: 20px;
    border: 10px solid;
}

.card h1{
    font-size: 8em;
    text-shadow: 0px 0px 11px #fff;
    margin-bottom: 20px;
}

.card p{
    font-size: 4em;
    text-shadow: 0px 0px 11px #fff;
    font-family: var(--font-text);
    font-weight: bold;
}